on:
  push:
    branches:
    - main

name: Deploy to Lambda 

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      uses: docker/build-push-action@v6
      with:
        context: .
        platforms: linux/arm64
        push: true
        provenance: false
        tags: ${{ steps.login-ecr.outputs.registry }}/subawoo:${{ github.sha }}

    - name: Deploy the image to lambda
      run: |
        aws lambda update-function-code --query RevisionId --function-name subawoo --image-uri ${{ steps.login-ecr.outputs.registry }}/subawoo:${{ github.sha }}
